*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
/* .item-img{
  width: 50%;
  margin-left: 15rem;
} */
body{
  background-color: #152028;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  /* color: #1E152A; */
}
.card{
  background: #3a3e51!important;
  border-radius: 15px;
  background: #3a3e41;
  box-shadow:  20px 20px 32px #323538, 
              -20px -20px 32px #42474a;
  color: #E4DFDA!important;
}
.drink-name{
  text-decoration: underline;
}
.fa-glass{
  color: silver;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: darkgrey; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(114, 114, 114); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}